@import "./utilities/variables";


@import "./componets/buttom";
@import "./componets/carousel";


@import "./layout/footer";
@import "./layout/header";


@import "./views/contacto";
@import "./views/inmuebles";
@import "./views/nosotros";
@import "./views/valores";


@import "./base";


@import "./utilities/mediaqueries";
@import "./utilities/operator";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.tituloprincipal {
    font-size: 2.5rem;
    color: $titulocolor;
    text-align: center;
    border-bottom: solid 1px $titulocolor;
}

section {
    margin-top: 60px;
    display: flex;
    line-height: 1.6;
    justify-content: center;
}

article {
    margin: 20px;

    & p {
        font-size: 20px;
        width: 300px;
        color: $titulocolor;
        padding: 1.5rem;
    }

    & articulo_1 {
        display: flex;
        justify-content: center;
    }
}

.cambiar_img1 {
    background-image: url(../img/img1exterior.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;

    &:hover {
        background-image: url(../img/img1interior.jpg);
        transition-duration: 1s;
        height: 400px;
        width: 300px;
        background-size: cover;
    }
}

.cambiar_img2 {
    background-image: url(../img/img2exterior.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;

    &:hover {
        background-image: url(../img/img2interior.jpg);
        transition-duration: 1s;
        height: 400px;
        width: 300px;
        background-size: cover;
    }
}

.cambiar_img3 {
    background-image: url(../img/img3exterior.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;

    &:hover {
        background-image: url(../img/img3interior.jpg);
        transition-duration: 1s;
        height: 400px;
        width: 300px;
        background-size: cover;
    }
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;

    &_texto {
        font-size: 30px;
        color: $asidecolor;
        margin-bottom: 40px;
    }

    &_link {
        color: $asidecolor;
        text-decoration: none;
        padding: 0;

    }
}

.imgpng {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding: 0;
}







