
.collapsenavbar-collapse {
    margin-top: 20px;
}

.header {
    background-image: url(../img/TANDIL6comprim.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 25rem;
    margin-bottom: 20px;
}
