.tituloprincipal {
    font-size: 2.5rem;
    color: $titulocolor;
    text-align: center;
    border-bottom: solid $borderpx $titulocolor;
}

section {

    margin-top: 60px;
    display: flex;
    line-height: 1.6;
    justify-content: center;
}

article {
    margin: 20px;
}

.articulo_1 {
    display: flex;
    justify-content: center;

}

.cambiar_img1 {
    background-image: url(../img/img1exterior.jpg);
}

.cambiar_img1:hover {
    background-image: url(../img/img1interior.jpg);
}

.cambiar_img2 {
    background-image: url(../img/img2exterior.jpg);
}

.cambiar_img2:hover {
    background-image: url(../img/img2interior.jpg);
}

.cambiar_img3 {
    background-image: url(../img/img3exterior.jpg);
}

.cambiar_img3:hover {
    background-image: url(../img/img3interior.jpg);
}

article p {
    font-size: 20px;
    width: 300px;
    color: #7EA34A;
    padding: 1.5rem;

}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;

    &_texto {
        font-size: 30px;
        color: $asidecolor;
        margin-bottom: 40px;
    }

    &_link {
        color: $asidecolor;
        text-decoration: none;
        padding: 0;

    }
}

.imgpng {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding: 0;
}

