.tituloprincipal {
    font-size: 2.5rem;
    color: $titulocolor;
    text-align: center;
    border-bottom: solid $borderpx $titulocolor;
}

.abajo {
    text-decoration: none;
    color: #567032;
    margin-left: 40px;
    font-size: 20px;
}

section {

    margin-top: 60px;
    display: flex;
    line-height: 1.5;
    justify-content: center;
}

article {
    margin: 20px;
}

.articulo_1 {
    display: flex;
    justify-content: center;

}

.cambiar_img1 {
    background-image: url(../img/img1exteriorcomprim.jpg);
}

.cambiar_img1:hover {
    background-image: url(../img/img1interior.jpg);
}

.cambiar_img2 {
    background-image: url(../img/img2exterior.jpg);
}

.cambiar_img2:hover {
    background-image: url(../img/img2interior.jpg);
}

.cambiar_img3 {
    background-image: url(../img/img3exterior.jpg);
}

.cambiar_img3:hover {
    background-image: url(../img/img3interior.jpg);
}

.cambiar_img1 {
    @include estilo(400px, 300px, cover);

    &:hover {
        @include estilo-hover(400px, 300px, cover, 1s)
    }
}

.cambiar_img2 {
    @include estilo(400px, 300px, cover);

    &:hover{
        @include estilo-hover(400px, 300px, cover, 1s);
    }
}

.cambiar_img3 {
    @include estilo(400px, 300px, cover);

    &:hover{
        @include estilo-hover(400px, 300px, cover, 1s)
    }
}

article p {
    font-size: 20px;
    width: 320px;
    color: #7EA34A;
    padding: 1rem;

}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;

    &_texto {
        font-size: 30px;
        color: $asidecolor;
        margin-bottom: 40px;
    }

    &_link {
        color: $asidecolor;
        text-decoration: none;
        padding: 0;

    }
}

.imgpng {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding: 0;
}

