/*VALORES*/
.title {
    display: flex;
    font-size: 3rem;
    color: #7EA34A;
    justify-content: center;
    margin-bottom: 30px;
}

.table {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;

    & tr {
        & th {
            border: solid 2px $colorbase;
        }
        & td {
            border: solid 2px $colorbase;
        }
    }
}