

@mixin estilo ($height, $width, $background-size) {
    height: $height;
    width: $width;
    background-size: $background-size;
}

@mixin estilo-hover ($height, $width, $background-size,$transition-duration) {
    height: $height;
    width: $width;
    background-size: $background-size;
    transition-duration: $transition-duration; 
}

.cambiar_img1 {
    @include estilo(400px, 300px, cover);

    &:hover {
        @include estilo-hover(400px, 300px, cover, 1s)
    }
}

.cambiar_img2 {
    @include estilo(400px, 300px, cover);

    &:hover{
        @include estilo-hover(400px, 300px, cover, 1s);
    }
}

.cambiar_img3 {
    @include estilo(400px, 300px, cover);

    &:hover{
        @include estilo-hover(400px, 300px, cover, 1s)
    }
}